
<mat-grid-list style="margin: 10px;" cols="2" gutterSize="10" rowHeight="2:1">
    <mat-grid-tile style="background-color: orange;">Sources</mat-grid-tile>
    <mat-grid-tile style="background-color: blue;">People</mat-grid-tile>
    <mat-grid-tile style="background-color: blue;">Places</mat-grid-tile>
    <mat-grid-tile style="background-color: blue;">Events</mat-grid-tile>
    <mat-grid-tile style="background-color: blue;">Buildings</mat-grid-tile>
    <mat-grid-tile style="background-color: blue;">Maps</mat-grid-tile>
</mat-grid-list>