:host {
  
}

footer{
    width:100%;
    position:fixed;
    bottom:0px;
    background-color:white;
    border-top: 1px solid black;
    text-align: center;
    font-size: x-small;
    margin: 2px;
}